{% extends "layout.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block main %}

{% if not link == None %}
  <a href='{{ link["url"] }}' class='h1'>Random link</a>

  <span class='mt-5 mb-3 h5'>
    Tag: <a href='{{ url_for("tags.tag_page", tag_id=link["tag_id"]) }}'>{{ link["tagname"] | capitalize }}</a>
  </span>

  <span class='h5'>
    By: <a href='{{ url_for("users.user_page", user_id=link["user_id"]) }}'>{{ link["username"] | capitalize }}</a>
  </span>
{% else %}
  No links registered yet
{% endif %}

{% endblock %}