{% extends "layout.html" %}

{% block head %}
<title>User: {{ user['username'] }}</title>
{% endblock %}

{% block main %}
<h1 class='display-1'>
  {{ user['username'] | capitalize }}
</h1>

<div class='my-5'>
  {% if not link == None %}
    <a href='{{ link["url"] }}'>A link from this user</a>
  {% else %}
    This user does not have links yet
  {% endif %}
</div>

{% if tags|length > 0 %}
  <p>This user has links with tags:</p>
  
  <ul class="list-unstyled text-center">
    {% for tag in tags %}
      <li>
        <a href='{{ url_for("users.user_tag_page", user_id=user["id"], tag_id=tag["id"]) }}'>
          {{ tag['tagname'] | capitalize }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}