{% extends "layout.html" %}

{% block head %}
<title>New Link</title>
{% endblock %}

{% block main %}
<h1 class='mb-5'>Create new Link</h1>

<form action='/links/new' method='POST' class='needs-validation'>
  <div class='input-group mb-4'>
    <label for='link' class='form-label w-100'>link:</label>

    <input id='link' name='link' class='form-control' placeholder='https://example.com' autocomplete='off'
      pattern="^(http(s)?:\/\/)+[\w\-\._~:\/?#[\]@!\$&'\(\)\*\+,;=.]+$" autofocus required>
  </div>

  <div class='input-group mb-4'>
    <label for='tag' class='form-label w-100'>tag:</label>

    <input id='tag' name='tag' class='form-control' placeholder='tag' autocomplete='off' min='2' max='50'>
  </div>

  <input class='btn btn-primary w-100' type="submit" value="Create link">
</form>
{% endblock %}