{% extends "layout.html" %}

{% block head %}
<title>Account</title>
{% endblock %}

{% block main %}
<h1 class='mb-5'>Account</h1>

<form action='{{ url_for("account.account_page") }}' method='POST' class='needs-validation'>
  <div class='input-group mb-4'>
    <label for='username' class='form-label w-100'>Username:</label>

    <input id='username' name='username' class='form-control' placeholder='username' minlength='2' maxlength='50'
      autocomplete='off' value='{{ account["username"] }}' autofocus required>
  </div>

  <div class='input-group mb-4'>
    <label for='email' class='form-label w-100'>Email:</label>

    <input id='email' name='email' class='form-control' placeholder='email' type='email' maxlength='255'
      pattern='[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$' value='{{ account["email"] }}' required>
  </div>

  <div class='input-group mb-4'>
    <label for='password' class='form-label w-100'>Current password:</label>

    <input id='password' name='password' class='form-control' placeholder='password' type='password' minlength='2'
      maxlength='50'>
  </div>

  <div class='input-group mb-4'>
    <label for='new-password' class='form-label w-100'>New password:</label>

    <input id='new-password' name='new-password' class='form-control' placeholder='New password'
      type='password' minlength='1' maxlength='50'>
  </div>

  <input class='btn btn-primary w-100' type="submit" value="Update account details">
</form>
{% endblock %}