<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  {% block head %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tags.tags_page') }}">Tags</a>
          </li>

          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('links.links_new_page') }}">New link</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('account.account_links_page') }}">My links</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('account.account_page') }}">Account</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout_page') }}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login_page') }}">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.signup_page') }}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
  <main class='vh-100 d-flex flex-column align-items-center justify-content-center'>
    {% block main %}{% endblock %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  <script>
    document.querySelectorAll('form').forEach((form) => {
      form.addEventListener('submit', (e) => {
        e.preventDefault()

        fetch(e.target.action, {
          method: 'POST',
          redirect: 'follow',
          body: new FormData(e.target)
        }).then((res) => {
          if (res.redirected) {
            window.location.href = res.url
            return
          }

          res.text().then((text) => alert(text))
        }).catch((error) => {
          alert(`error: ${error.message}`)
        })
      })
    })
  </script>
</body>

</html>